:root {
  --primary: #495e57;
  --primary2: #f4c314;
  --secondary: #ee9972;
  --secondary2: #fbdabb;
  --secondary3: #edefee;
  --secondary4: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--secondary4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bolder;
}

ul {
  list-style: none;
}

nav {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
}

nav ul {
  display: none;
  align-items: center;
  text-transform: uppercase;
  gap: 24px;
  font-size: 20px;
  font-weight: bold;
}

form {
  display: grid;
  max-width: 320px;
  gap: 20px;
  margin: 120px auto;
}

footer {
  text-align: center;
  padding: 0 48px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  font-size: 18px;
}

footer img {
  border-radius: 16px;
  width: 160px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  nav ul {
    display: flex;
  }
  nav img {
    width: 160px;
  }
  .only-mobile {
    display: none;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}
