body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

ul {
  list-style: none;
}

nav {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
}

nav ul {
  display: none;
}

footer {
  text-align: center;
  padding: 0 48px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

footer img {
  border-radius: 16px;
  width: 160px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  nav ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 24px;
  }
  nav img {
    width: 160px;
  }
  .only-mobile {
    display: none;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}
